*.class
*.jar
*.war
*.ear

myextensionhmc/hmc/bin/
myextensionhmc/hmc/classes/
myextensionhmc/hmc/resources/hmc.xsd
myextensionhmc/resources/myextensionhmc/myextensionhmc-hmctestclasses.xml
custombackoffice/backoffice/classes/
customproductcockpit/web/webroot/cockpit/

*/build.xml
*/classes/
*/extensioninfo.xsd
*/gensrc/
*/platformhome.properties
*/resources/beans.xsd
*/resources/items.xsd
*/resources/*/*-testclasses.xml
*/web/webroot/WEB-INF/classes/
*/src/org/training/jalo/
*/src/org/training/*/jalo/
*/eclipsebin/
*/build/eclipsebin/

*/resources/wro_addons.xml
*/web/addonsrc
*/web/commonwebsrc
*/web/testclasses
*/web/webroot/WEB-INF/_ui-src/addons
*/web/webroot/WEB-INF/tags/addons
*/web/webroot/WEB-INF/tld
*/web/webroot/WEB-INF/messages/addons
*/web/webroot/WEB-INF/views/addons
*/web/webroot/_ui/addons

.project
.classpath
.settings/
.externalToolBuilders/
.pmd
.springBeans
ruleset.xml