myextension/build.xml
myextension/classes/
myextension/extensioninfo.xsd
myextension/gensrc/
myextension/platformhome.properties
myextension/resources/beans.xsd
myextension/resources/items.xsd
myextension/resources/myextension/myextension-testclasses.xml
myextension/web/webroot/WEB-INF/classes/
myextension/src/mypackage/jalo/
myextension/eclipsebin/
